#header-boxen {
	background-image: url(imgs/IMG_2462.jpg);
}
h1 {
 	font: 500% "league-gothic", Arial, sans-serif;
 	letter-spacing: 1px;
}
h2 {
	font: 180% "league-gothic", Arial, sans-serif;
	}
/* Behaviour with varying window size */

@media (min-device-width:320px) and (max-device-width: 568px) {
	h1 {
		font-size: 300%;
	}
}
@media (min-width: 481px) and (max-width: 768px) {
	header {
		background-position: center bottom;
	}
	h1 {
		font-size: 400%;
	}
}
@media (min-width: 769px) and (max-width: 1400px) {
	h1 {
		font-size: 400%;
	}
}
