#header-home {
	background-image: url(imgs/IMG_3267.jpg);
	height: 800px; 
}
#container-home {
	width: 50%;
	margin-bottom: 5%;
	max-width: 750px;
}

/* Behaviour with varying window size */

@media (max-width: 480px) {
	h1 {
		font-size: 250%;
	}
}
@media (min-width: 481px) and (max-width: 768px) {
	header {
		background-position: center bottom;
	}
	h1 {
		font-size: 400%;
	}
}
@media (min-width: 769px) and (max-width: 1400px) {
	h1 {
		font-size: 400%;
	}
}