
* {
	margin: 0;
}

body {
	font-family: "ff-tisa-web-pro", Georgia, serif;
	font-size: 18px;
	color: black;
	line-height: 1.6;
	background-color: black;
	-webkit-font-smoothing: antialiased;
}

/* Styling of navigation */

.menu-wrap {
	width: 100%;
	height: 60px;
}
.menu-button {
	position: fixed;
	top: 20px;
	left: 25px;
	z-index: 200;
    cursor: pointer;
}
.menu-pfeil {
	position: fixed;
	right: 20px;
	z-index: 200;
    cursor: pointer;
    float: right;
   
}
.menu-pfeil-rechts, 
.menu-pfeil-links {
	position: relative;
	margin: 0 5px;
	width: 12px;
	display: block;

}
.pfeil {
	position: absolute;
	top: 0;
}
.pfeil-rechts-hover, 
.pfeil-links-hover {
	opacity: 0;
}
.menu-pfeil-rechts:hover .pfeil-rechts,
.menu-pfeil-links:hover .pfeil-links {
	opacity: 0;
	-webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
}
.menu-pfeil-rechts:hover .pfeil-rechts-hover,
.menu-pfeil-links:hover .pfeil-links-hover{
	opacity: 1;
	-webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
}

#navbar:hover .menu {
	display: block;
}
#navbar {
	position: fixed;
	width: 100%;
	z-index: 100;
	top:0;
	background-color: #222A34;
	color: white;
	font: 120% "myriad-pro-semi-condensed", Helvetica, sans-serif;
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
}
.navbar-visible {
	opacity: 1 !important;
}
.menu {
	list-style-type: none;
    margin-left: 5%; 
}
.menu-home, 
.menu-artikel {
	padding: 15px 3% 15px 0;
	float: left;
}

.menu-triangle {
	padding-left: 5px;
	font-size: 60%;
	vertical-align: 20%;
}

.artikel-liste {
    width: 200px;
    position: absolute;
    background-color: #222A34;
    list-style-type: none;
    padding: 10px 20px 30px 20px;
    font-size: 100%;
    line-height: 1.2em;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
}
.artikel-liste li {
	padding-top: 20px;
}

.menu-artikel:hover .artikel-liste {
	opacity: 1;
	pointer-events: all;
}

.artikel-liste li:hover,
.menu-artikel > a:hover,
.menu-home a:hover {
	color: #6BFAC6;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
}

/* Styling of header image */

header {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	z-index: -1;
	position: fixed;
	top: 0%;
	width: 100%;
	height: 700px;
	}

/* Styling of home page text */

.home-text {
	width: 50%;
	margin: 0 auto;
}

.teaser-tab {
	background-color: white;
	color: #808080;
	font: 100% "myriad-pro-semi-condensed", Helvetica, sans-serif;
	text-align: center;
}
.teaser-tab span {
	position: relative;
	display: inline-block;
	background-color: #E8E8E8;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.teaser-bar {
	width: 100%;
	background-color: #E8E8E8;
	text-align: center;
}
.teaser-wrap {
	position: relative;
	display: inline-block;
	margin: 20px 0;

}
.teaser {
	position: relative;
	width: 280px;
	min-height: 360px;
	margin: 20px 20px;
	float: left;
	background-color: white;
	text-align: left;
	color: black;
}
.bild {
	display: block;
	width: 100%;
	height: 180px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	opacity: 0.8;
}
.teaser-boxen {
	background-image: url(imgs/boxen_teaser.jpg);
}
.teaser-tattly {
	background-image: url(imgs/tattly_teaser.jpg);
}
.teaser-self {
	background-image: url(imgs/self_teaser.jpg);
}
h3 {
	display: table-cell;
	vertical-align: middle;
	width: 280px;
	height: 60px;
	padding: 20px 25px 10px 25px;
	font-size: 95%;
	text-align: center;
	line-height: 1.4;
}

.divline {
	width: 10%;
	height: 2px;
	margin: 0 auto;
	border-top: 2px solid #808080;
	opacity: 0.5;
}
.teaser p {
	margin-bottom: 0;
	padding: 20px 30px;
	font-size: 90%;
	line-height: 1.2;
}
.teaser:hover .bild {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
}
.teaser-active .bild {
	opacity: 1;
}


/* Styling of article's page text */

.content {
	margin-top: 500px;
	width: 100%;
}

h1 {
	color: white;
	text-align: center;
	font-size: 300%;
	height: 200px;
}
.article-wrap {
	background-color: white;
	margin: 0 auto;
}

article {
	width: 100%;
	overflow: hidden;
	margin: 0px auto;
	padding: 3em 0;
	max-width: 1500px;
}

a {
	text-decoration: none;
	color: inherit;
}

h2 {
	font-size: 160%;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

p {
	margin-bottom: 1.2em;
}

.marginalie {
	position: relative;
	width: 20%;
	float: left;
	margin-right: 5%;
	padding-left: 30px;
	padding-top: 5px;
	opacity: 0.5;
	font: 100% "myriad-pro-semi-condensed", Helvetica, sans-serif;
	color: #222A34;
}

.marginalie p {
	margin-top: 0;
}
.artikel {
	width: 50%;
	float: left;
}

.lead {
	font-size: 120%;
	font-weight: 700;
	margin-bottom: 1.5em;
	line-height: 1.5;
}

.quote {
	position: relative;
	text-align: center;
	padding: 0.5em 14%;
	font-size: 150%;
	font-style: italic;
	line-height: 1.5;
}

.pic {
	width: 100%;
	margin: 1em 0;
}

.follow-up {
	font: 100% "myriad-pro-semi-condensed", Helvetica, sans-serif;
	text-align: center;
	margin-top: 3em;
	background-color: white;
	height: 100px;
	float: none;
}

/* Styling of marginalie for mobile */

.marginalie-mobile {
	display: none;
	float: none;
	margin-top: 2em;
	opacity: 0.5;
	font: 90% "myriad-pro-semi-condensed", Helvetica, sans-serif;
	color: #222A34;
}
.border {
	width: 20%;
	border-top: 1px solid;
	padding-bottom: 12px;
}
.span-slash {
	padding: 0 5px;
}

/* Styling of footer */

footer {
	position: relative;
	clear: both;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: #222A34;
	color: white;
	text-align: center;
	padding-top: 1.2em;
	padding-bottom: 1em;
	font: 90% "myriad-pro-semi-condensed", Helvetica, sans-serif;
}

.contact {
	width: 100px;
	height: 25px;
	margin: 0 auto;
}

.contact-twitter,
.contact-mail {
	position: relative;
	width: 50px;
	height: 25px;
	float: left;
}
.icon {
	top: 0;
	left: 15px;
	position: absolute;
}
.twitter-hover, 
.mail-hover {
	opacity: 0;
}
.contact-twitter:hover .twitter,
.contact-mail:hover .mail {
	opacity: 0;
	-webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
}
.contact-twitter:hover .twitter-hover,
.contact-mail:hover .mail-hover {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
}

/* Responsivness */



@media (min-device-width:320px) and (max-device-width: 568px) {
	body {
		font-size: 16px;
	}
	.menu {
    	margin-left: 8%; 
	}
	.menu-home, .menu-artikel {
		padding: 15px 4% 15px 0;
		float: left;
	}
	.menu-pfeil {
		padding: 15px 5%;
	}
	.pfeil-nav {
		height: 0.9em;
		vertical-align: -8%;
	} 
	header {
		height: 290px;
	}
	.content {
		margin-top: 210px;
	}
	h1 {
		height: 80px;
	}
	article {
		padding-top: 2em;
	}
	.marginalie {
		display: none;
	}

	.artikel {
		float: none;
		width: 90%;
		padding-left: 5%;
		font-size: 100%;
	}
	.lead {
		font-size: 100%;
	}
	.quote {
		font-size: 130%;
		line-height: 1.4;
	}
	.marginalie-mobile {
		display: block;
	}
	.teaser-active {
		display: none;
	}
	footer {
		height: 80px;
	}
}

@media (min-width: 569px) and (max-width: 768px) {
	body {
		font-size: 17px;
	}
	header {
		height: 500px;
	}
	.content {
		margin-top: 400px;
	}
	h1 {
		height: 100px;
	}
	.marginalie {
		display: none;
	}
	.artikel {
		float: none;
		width: 80%;
		padding-left: 10%;
		font-size: 100%;
	}
	.marginalie-mobile {
		display: block;
	}
}
@media (min-width: 769px) and (max-width: 1400px) {
	header {
		height: 560px;
	}
	.content {
		margin-top: 430px;
	}
	h1 {
		height: 130px;
	}
}
@media (min-width: 1680px) {
	body {
		font-size: 20px;
	}
	header {
		height: 800px;
	}
	.content {
		margin-top: 600px;
	}
	h1 {
		height: 200px;
	}
}
