#header-tattly {
	background-image: url(imgs/tattly_header.jpg);
}
h1 {
	font: 400% "lobster", serif;
	letter-spacing: 2px;
}
h2 {
	font-family: "lobster", serif;
}

/* Behaviour with varying window size */

@media (min-device-width:320px) and (max-device-width: 568px) {
	h1 {
		font-size: 250%;
		height: 110px;
	}
	header {
		height: 300px;
	}
	.content {
		margin-top: 190px;
	}
}
@media (min-width: 481px) and (max-width: 768px) {
	header {
		background-position: center bottom;
	}
	h1 {
		font-size: 400%;
	}
}
@media (min-width: 769px) and (max-width: 1400px) {
	h1 {
		font-size: 400%;
	}
}