#header-tattly {
	background-image: url(imgs/IMG_1395.jpg);
	background-position: 50% -30px;
}
#h1-tattly {
	font: 400% "lobster", serif;
	letter-spacing: 2px;
}
.h2-tattly {
	font-family: "lobster", serif;
}