body {
	background-color: white;
}
header {
	background-image: url(header.jpg);
	background-position: 50% 90%;
	height: 800px; 
}
h1 {
	height: 80px;
	font-size: 300%;
	color: black;
	padding-top: 1em;
	background-color: white;
}
#container-home {
	width: 50%;
	margin-bottom: 5%;
	max-width: 750px;
}
.content {
	margin-top: 60px !important;
}
.home-text {
	width: 50%;
	margin: 0 auto;
}

.profile-image {
	width: 55%;
	margin: 0 auto;
	text-align: center;
}

.center {
	text-align: center;
}

article img {
	width: 100%;
	margin-bottom: 2em;
}
/* Behaviour with varying window size */

@media (max-width: 480px) {
	header {
		height: 300px;
	}
	h1 {
		font-size: 150%;
	}
	.content {
		margin-top: 300px;
	}
	.home-text {
		width: 90%;
		margin: 0 auto;
	}
	article {
		padding: 0 !important;
	}
}
@media (min-width: 481px) and (max-width: 768px) {
	header {
		height: 500px;
	}
	h1 {
		font-size: 200%;
	}
	.content {
		margin-top: 500px;
	}
	.home-text {
		width: 80%;
		margin: 0 auto;
	}
}
@media (min-width: 769px) and (max-width: 1400px) {
	header {
		height: 600px;
		background-position: 50% 75%;
	}
	h1 {
		font-size: 250%;
	}
	.content {
		margin-top: 600px;
	}
}

@media (min-width: 1680px) {
	header {
		height: 900px;
		background-position: 50% 55%;
	}
	.content {
		margin-top: 900px;
	}